.nav {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: aliceblue;
  & a {
    padding: 10px;
    margin-right: 0.2rem;
    background-color: rgba(167, 233, 167, 0.718);
    text-decoration: none;
    color: black;
  }
  & a:last-child {
    margin-right: 0;
  }

  & a.active {
    color: #fff;
    background-color: gray;
  }
}


